:root {
  --yellow: #f9dc0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.container {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
html {
  font-size: 20px;
  line-height: 1.3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-size: 0.9rem;
}

body,
.header,
.aside {
  background-color: #000;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: var(--yellow);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}

.page__wrapper {
  display: flex;
}

.header {
  padding: 0 0 2rem;
  color: #fff;
  border-bottom: 1;
}

.header__position {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--yellow);
}

section + section {
  margin-top: 2rem;
}

.aside section h3 {
  margin-bottom: 1rem;
  color: var(--yellow);
}
.aside {
  position: sticky;
  top: 0;
  left: 0;
  padding: 2rem 2rem 2rem 0;
  flex: 0 0 18rem;
  color: #fff;
  font-size: 0.8rem;
  align-self: flex-start;
}
.contacts-aside i {
  margin-right: 0.5rem;
}

.contacts-aside {
  margin-top: 0.5rem;
}

.main {
  background: #fff;
  color: #000;
  font-size: 0.8rem;
  padding: 2rem;
  flex: 1 1 100%;
}
.main section h3 {
  margin-bottom: 1rem;
  background-color: var(--yellow);
  padding: 1rem;
  margin-left: -1rem;
}
.main ul {
  list-style: none;
  padding-left: 1rem;
}

.main ul li {
  position: relative;
}
.main ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -1rem;
  width: 10px;
  height: 3px;
  background-color: var(--yellow);
  border: 1px solid #000;
  box-sizing: border-box;
}

.main__experience h4 {
  margin: 1rem 0 0.3rem;
}

.main__education h4 {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.footer {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  width: 100%;
  padding: 0.5rem 1rem;
}

.footer__github a {
  display: flex;
  align-items: center;
  color: #000;
}

.footer__github a p {
  opacity: 0;
  margin-left: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.footer__github a i {
  font-size: 1.8rem;
}

.footer__github a:hover p {
  opacity: 1;
}

.text-animation {
  background-image: linear-gradient(45deg, #fcfbf8, #f9dc0b, #f1bb38, #f18b38);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 500%;
  background-position: left;
  -webkit-animation: text-animation 3s infinite alternate;
  animation: text-animation 3s infinite alternate;
}

@-webkit-keyframes text-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes text-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
